*.iml
.gradle
.idea
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
/androidApp/key
*.jks
*yarn.lock
JSLibs/iohk-crypto/node_modules
node_modules/
/.kotlin
/secp256k1-kmp/native/secp256k1
.swiftpm
.vscode
